.form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  margin-bottom: 3rem;
}

input[type="text"] {
  // color: $white;
  border: none;
  border-radius: 10px;
  margin-right: -2.5rem;
  height: 4rem;
  font-size: 2rem;
  padding: 1.5rem 3rem;
  outline: none;
  transition: all 5000s ease-in-out 0s;
  font-style: italic;
  @include back-drop;
}

input::-webkit-input-placeholder {
  color: rgba($black, 0.8);
}

button {
  background: transparent;
  border: none;
  font-size: 2rem;
  color: $black;
  outline: none;
  cursor: pointer;
  z-index: 1;
}
